@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #e0e0e0;
  --background-end: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f5f5f5;
    --background-start: #1f1f1f;
    --background-end: #1f1f1f;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
